/* GENERAL STYLES */

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.hero {
    background-image: url('/images/article-image-hero.png');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
    color: white;
}

.hero p {
    color: inherit;
}

main {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

article img {
    width: 100%;
    border-radius: 3px;
}

main article {
    margin-bottom: 2.5em;
}

footer {
    padding: 40px 0;
}

aside p {
    text-decoration: underline;
    text-align: center;
}

/*  =================
        TYPOGRAPHY
    =================*/
h1 {
    font-size: 0.85em;
}

.nav-menu ul{
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 0.75em;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-transform: uppercase;
}

.nav-menu ul li a{
    text-decoration: none;
    color: #090909;
}

footer p {
    text-transform: capitalize;
    margin: 0;
}

.hero h2 {
    font-size: 0.75em;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.hero h3 {
    font-size: 2em;
    font-weight: 900;
    margin: 0;
}

.hero p {
    font-size: 1em;
    margin: 0;
}

article h2 {
    text-transform: uppercase;
    font-size: 0.88em;
    font-weight: 400;
    margin: 14px 0 10px 0;
}

article h3 {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0 0 10px 0;
}

article p {
    font-size: 1em;
    font-weight: 400;
    margin: 0;
    color: #505050;
}

footer {
    font-size: 0.75em;
}

.copyright {
    font-weight: 300;
}

/*  **************************
        DISPLAY GRID
    **************************/

body {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
        "head"
        "main"
        "foot";
        gap: 1em;
}

header {
    display: grid;
    grid-template: repeat(3, 1em) auto / 1em repeat(10, 1fr) 1em;
}

header div {
    grid-column: 2 / 6;
    grid-row: 2 / 3;
}

header nav {
    grid-column: 9 / 12;
    grid-row: 2 / 3;
}

header article {        /* hero article */
    grid-column: 1 / -1;
    grid-row: 4 / 5;

    display: grid;
    grid-template: 1fr 1em repeat(2, 1fr) 1.1em / 1.25em 1fr 1.25em;
    grid-template-areas:
        ". .... ."
        ". hrh2 ."
        ". hrh3 ."
        ". hrpf ."
        ". .... .";
    gap: 0.5em 0;
}

article.hero h2 {
    grid-area: hrh2;
}

article.hero h3 {
    grid-area: hrh3;
}

article.hero p {
    grid-area: hrpf;
}

main {
    grid-area: main;

    display: flex;
    flex-direction: column;
    padding: 1.25em;
}

footer {
    grid-area: foot;
    background-color: #202020;
    color: #ececec;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1 {
    margin-left: 3px;
}

.nav-menu ul{
    display: flex;
    gap: 2em;
}

@media (min-width: 870px) {
    header {
        grid-template-columns: 3.43em repeat(10, 1fr) 3.43em;
    }

    header article {  /* Hero part */
        grid-template-columns: 3.43em 1fr 3.43em;
    }
}


