/* GENERAL STYLES */

html,
body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

html,
body,
.nav-menu ul,
.hero h2 {
    margin: 0;
    padding: 0;
}

body,
footer {
    display: flex;
    flex-direction: column;
}

.hero {
    background-image: url('/images/article-image-hero.png');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
    color: white;
    padding: 1.25em;
}

.hero p {
    color: inherit;
}

main {
    padding: 1.25em;
}

article img {
    width: 100%;
    /* height: 232px; */
    border-radius: 3px;
}

main article {
    margin-bottom: 1.25em;
}

footer {
    padding: 40px 0;
}

aside p {
    text-decoration: underline;
    text-align: center;
}

.more-article {
    display: none;
}

aside {
    text-align: center;
}

#view-more-btn {
    font-size: 0.88em;
    font-weight: 600;
    border: none;
    background: none;
    border-bottom: 1px solid #000;
    padding: 0;
    margin-bottom: 3.18em;
}

#recent-posts {
    margin-bottom: 1.75em;
}

h1 {
    margin-left: 3px;
}

footer {
    background-color: #202020;
    color: #ececec;
    text-align: center;
    justify-content: center;
}

header div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-menu ul{
    display: flex;
    justify-content: end;
    gap: 2em;
}

article.hero h2 {
    margin-top: 17vw;
    margin-bottom: 0.5em;
}

article.hero h3 {
    margin-bottom: 0.5em;
}

article.hero p {
    max-width: 614px;
    margin-bottom: 1em;

}

.about-me-section img{
    width: 182px;
    height: 182px;
    border-radius: 50%;
}

.about-me-section h2 {
    margin-bottom: 0;
    font-size: 2.13em;
    line-height: 1.08;
    letter-spacing: -1px;
}

.about-me-section p {
    margin-bottom: 50px;
    font-size: 1em;
    font-weight: 410;
    font-style: normal;
    color: #151515;
    line-height: 1.25;
}

.about-me-section h3 {
    font-size: 1em;
    font-weight: 700;
}

.about-me-body aside h3 {
    font-size: 1em;
    margin-bottom: 0;
}

/*  **************************
        DISPLAY GRID
    **************************/
header,
main,
.articles {
    display: grid;
}

header {
    grid-template: repeat(3, 1em) auto / 1.25em repeat(10, 1fr) 1.5em;
}

header div {
    grid-column: 2 / 7;
    grid-row: 2 / 3;
}

header nav {
    grid-column: 8 / 12;
    grid-row: 2 / 3;
}

.hero {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    gap: 0.5em 0;
}

main,
.articles {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.63em
}

.about-me-body main {
    display: block;
}

/*  =================
        TYPOGRAPHY
    =================*/
main, 
nav ul {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.nav-menu ul,
.hero h2,
article h2 {
    text-transform: uppercase;
}

h1 {
    font-size: 0.85em;
}

.nav-menu ul{
    font-weight: 600;
    font-size: 0.75em;
    list-style-type: none;
}

.nav-menu ul li a{
    text-decoration: none;
    color: #090909;
}

footer p {
    text-transform: capitalize;
    margin: 0;
}

.hero h2 {
    font-size: 0.75em;
}

.hero h3 {
    font-size: 2em;
    font-weight: 900;
    margin: 0;
}

.hero p {
    font-size: 1em;
    margin: 0;
}

article h2 {
    font-size: 0.88em;
    font-weight: 400;
    margin: 14px 0 10px 0;
}

article h3 {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0 0 10px 0;
}

article p {
    font-size: 1em;
    font-weight: 400;
    margin: 0;
    color: #505050;
}

footer {
    font-size: 0.75em;
}

.copyright {
    font-weight: 300;
}

/**********************
*   MEDIA QUERIES
***********************/

@media (min-width: 870px) {
    main {
        padding: 3.31em 3.31em 2em 3.31em; 
    }

    .about-me-intro {
        margin: 0 33px;
        display: grid;
        grid-template-columns: 182px repeat(2, 1fr);
        grid-auto-rows: 91px;
        gap: 1em;
    }

    .about-me-intro img {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }

    .about-me-intro h2 {
        grid-column: 2 / -1;
        grid-row: 1 / 2;
    }

    .about-me-intro p {
        grid-column: 2 / -1;
        grid-row: 2 / 3;
    }

    .about-me-section {
        max-width: 845px;
        margin-right: 67px;
    }

    .about-me-section > h3,
    .about-me-section > p {
        padding: 0 4.18em;
    }
}

