/* GENERAL STYLES */

html, 
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: url('/images/article-image-hero.png');
    background-size: cover;
    color: white;
}

.hero p {
    color: inherit;
}

main {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

article:first-child {
    padding: 14px;
}

article:not(:first-child){
    margin: 14px;
}

article img {
    width: 100%;
}

footer {
    padding: 40px 0;
}

article {
    background-color: aqua;
}

aside p {
    text-decoration: underline;
    text-align: center;
}

/*  =================
        TYPOGRAPHY  
    =================*/
h1 {
    font-size: 0.85em;
}

.nav-menu ul{
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 0.75em;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-transform: uppercase;
}

.nav-menu ul li a{
    text-decoration: none;
    color: #090909;
}

footer p {
    text-transform: capitalize;
    margin: 0;
}

.hero h2 {
    font-size: 0.75em;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.hero h3 {
    font-size: 2em;
    font-weight: 900;
    margin: 0;
}

.hero p {
    font-size: 1em;
    margin: 0;
}

article h2 {
    text-transform: uppercase;
    font-size: 0.88em;
    font-weight: 400;
    margin: 14px 0 10px 0;
}

article h3 {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0 0 10px 0;
}

article p {
    font-size: 1em;
    font-weight: 400;
    margin: 0;
    color: #505050;
}

/*  =====================
        Display Grid  
    =====================
*/
body {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: 
        "head"
        "main"
        "main"
        "main"
        "main"
        "foot";
        gap: 1em;
}

header {
    grid-area: head;

    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    grid-area: main;
}

footer {
    grid-area: foot;
    background-color: #202020;
    color: #ececec;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1 {
    margin-left: 3px;
}

.nav-menu ul{
    display: flex;
    gap: 2em;
}

.hero {
    display: grid;
    grid-template-rows: repeat(2, 60px) 1em repeat(2, 1fr);
    grid-template-areas: 
        "...."
        "...."
        "hrh2"
        "hrh3"
        "hrpg";
}

.hero h2 {
    grid-area: hrh2;
}

.hero h3 {
    grid-area: hrh3;
}

.hero p {
    grid-area: hrpg;
}


